<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>360.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,360}</string>
                <key>spriteSourceSize</key>
                <string>{360,360}</string>
                <key>textureRect</key>
                <string>{{455,515},{360,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{515,232},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hexagon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,229}</string>
                <key>spriteSourceSize</key>
                <string>{256,229}</string>
                <key>textureRect</key>
                <string>{{515,1},{256,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{452,452}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,515},{452,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Quad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{515,362},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>merged.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>round_arrow_forward_white_48dp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{66,64}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{771,331},{66,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>round_arrow_right_white_48dp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{817,397},{22,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>round_assignment_turned_in_white_48dp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{74,82}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{645,232},{74,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>round_autorenew_white_48dp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,84}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{773,177},{66,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>round_close_white_48dp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{719,414},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>round_keyboard_arrow_down_white_48dp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{48,30}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{721,382},{48,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>round_lock_open_white_48dp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{66,86}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{773,1},{66,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>round_lock_white_48dp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{66,86}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{773,89},{66,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>round_palette_white_48dp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{645,316},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>round_play_arrow_white_48dp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{44,52}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{645,462},{44,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>round_refresh_white_48dp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{773,263},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>round_settings_white_48dp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,82}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{455,877},{80,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>round_share_white_48dp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,82}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{537,877},{74,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>round_star_white_48dp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{72,68}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{645,392},{72,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>round_videocam_off_white_48dp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{78,76}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{613,877},{78,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>round_videocam_white_48dp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,50}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{721,232},{74,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>round_volume_off_white_48dp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{693,877},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>round_volume_up_white_48dp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,70}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{769,877},{74,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>videocam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,48}</string>
                <key>spriteSourceSize</key>
                <string>{72,48}</string>
                <key>textureRect</key>
                <string>{{721,308},{72,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sprites.png</string>
            <key>size</key>
            <string>{840,968}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c647b5fd4ba92c93441423520552699d:a2105c7c04072cb581b2bc76234348a4:db71e206b3c010bfb176561963c50b15$</string>
            <key>textureFileName</key>
            <string>sprites.png</string>
        </dict>
    </dict>
</plist>
